<head>
    <title>Welcome</title>
</head>
<body>
    <header>
        <nav>
            <a href="home.html">Home</a>
            <a href="contact.html">contact</a>
        </nav>
    </header>
    <main>
        <h1>Another HTML project</h1>
        <p>
         Third time practicing. It is nice seeing
         what HTML does and I can't wait for CSS
        <p>
          I will make this page really colorful soon enough
        </p>
        <div>
            <div>Box 1</div>
           <div>Box 2</div>
           <div>Box 3</div>
           <div>Box 4</div>
        </div>
    </main>
    <footer>
        <div> Copyright 1982 by me!</div>
        <div>I like chocolate</div>
    </footer>
</body>
</html>
